.modal,
.modal-location {
	position: fixed;
    top: 80px;
    left: 27%;
    display: none;
    width: 40%;
    height: auto;
	padding: 20px;
    border: 1px solid #777777;
    border-radius: 5px;
	margin: 0px auto;
    background-color: #60b3e5;
    color: #fff;
}

.get-location {
	background-color: #60b3e5;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.7;
}

.close-btn {
	float: right;
	min-width: 30%;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
    padding-left: 10px;
	margin-top: 20px;
	background-color: #f46465;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
	letter-spacing: 2px;
}

.close-location {
	float: right;
    min-width: 30%;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
    padding-left: 10px;
	margin-top: 20px;
    background-color: #f46465;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
	margin-bottom: 20px;
    background-color: #5cb85c;
    color: white;
    font-size: 1.3em;
	text-align: center;
}

.modal-body {
	overflow: auto;
    height: 200px;
}

.modal-footer {
    padding: 2px 16px;
	margin-top: 20px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.priceBGN {
    display: none;
    color: #d40606;
	font-size: 1.2em;
    font-weight: bold;
}

.map {
	width: 100%;
	height: 400px;
}


@media screen and (max-width:490px) {
	.modal,
	.modal-location {
		left: 0%;
		width: 80%;
  }

	.map {
		width: 100%;
		height: 200px;
	}
}
