main {
	overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.section-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
	display: inline-block;
    margin-top: 50px;
}

.historical-image-container {
	overflow: hidden;
    width: 60%;
    height: auto;
}

.historical-image {
    width: 100%;
}

.historical-image:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.title-historical-text {
	margin-top: 20px;
    margin-bottom: 20px;
	color: #f46465;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.historical-text-container {
	padding-right: 20px;
    width: 36%;
    padding-left: 20px;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.image-left {
    float: left;
}

.image-right {
    float: right;
}

@media screen and (max-width:3000px) {
    main {
        font-size: 2.3em;
    }
}

@media screen and (max-width:2600px) {
    main {
        font-size: 2em;
    }
}

@media screen and (max-width:2000px) {
    main {
        font-size: 1.4em;
    }
}

@media screen and (max-width:1700px) {
    main {
        font-size: 1.3em;
    }
}

@media screen and (max-width:1600px) {
    main {
        font-size: 1em;
    }
}

@media screen and (max-width:1250px) {
    .historical-text-container {
		padding-right: 0px;
        padding-left: 0px;
		font-size: 0.9em;
    }
}

@media screen and (max-width:1050px) {
    .container {
        display: block;
        margin-top: 50px;
    }
    .historical-image-container {
		overflow: hidden;
        width: 100%;
        height: auto;
    }
    .historical-text-container {
        width: 100%;
		padding-right: 0px;
        padding-left: 0px;
		font-size: 1em;
    }
}