main {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.three-main-news {
    background: #fff;
    margin-bottom: 100px;
}

.row {
  height: 320px;
}


.main-news-container p {
  margin-bottom: 10px;
}

.title-three-main-news {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-explore {
    font-size: 2.2em;
    color: #d08a00;
}

.column-main-news {
    float: left;
    width: 30%;
    padding: 15px;
    overflow: visible;
    text-align: center;
    margin-bottom: 20px;
    height: 700px;
    font-size: 1em;
}

.main-news-image {
    width: 100%;
    height: 200px;
}

.main-news-image:hover {
    filter: saturate(2);
}

.main-news-horizontal-line {
    border-top: 3px dotted black;
    width: 60%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hotel-btn, 
.calculate-price {
  background-color: #d08a00;
  font-weight: bold;
  color: #fff;
  padding: 5px 10px 5px 10px;
  letter-spacing: 2px;
}

.double-room {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.check-in {
  font-weight: bold;
  font-size: 1.2em;
}

@media screen and (max-width:3000px) {
    main {
        width: 40%;
    }
}

@media screen and (max-width:2600px) {
    main {
        width: 45%;
    }
}

@media screen and (max-width:2000px) {
    main {
        width: 50%;
    }
    .column-main-news {
        height: 400px;
    }
}

@media screen and (max-width:1700px) {
    .main-news-image {
        height: 300px;
    }
    .column-main-news {
        height: 350px;
    }
    main {
        width: 80%;
    }
}

@media screen and (max-width:1500px) {
    .main-news-image {
        height: 250px;
    }
    .column-main-news {
        height: 300px;
    }
}

@media screen and (max-width:1366px) {
    .main-news-image {
        height: 200px;
    }
}

@media screen and (max-width:1200px) {
    .column-main-news {
        display: inline;
        width: 100%;
        overflow: visible;
        height: 450px;
        text-align: center;
        font-size: 1em;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
    }
    .main-news-image {
        width: 50%;
        float: left;
        height: auto;
        margin-right: 10px;
    }
    .main-news-horizontal-line {
        border-top: 3px dotted black;
        width: 48%;
        float: right;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:760px) {
    main {
        width: 100%;
    }
    .column-main-news {
        padding-left: 0px;
    }
}

@media screen and (max-width:490px) {
    main {
        width: 100%;
    }
    .main-news-image {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .main-news-horizontal-line {
        border-top: 3px dotted black;
        width: 60%;
        float: none;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
