main {
	overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.three-main-news {
    background: #fff;
    margin-bottom: 50px;
}

.wrap-restaurants {
    display: flex;
    flex-wrap: wrap;
}

.wrap-recipes {
    display: flex;
    flex-wrap: wrap;
}

.title-container {
	margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.title-explore,
.title-recipes {
	color: #d08a00;
    font-size: 2.2em;
    text-align: center;
}

.column-main-news {
    float: left;
	overflow: hidden;
    width: 30%;
	height: 500px;
    padding: 15px;
	margin-bottom: 20px;
	font-size: 1em;
    text-align: center;  
}

.main-news-image {
    width: 100%;
    height: 200px;
}

.main-news-image:hover {
    filter: saturate(2);
}

.main-news-horizontal-line {
	width: 60%;
    border-top: 3px dotted black;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section-box {
	overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: inline-block;
    margin-top: 50px;
}

.restaurants-image-container {
    float: left;
	overflow: hidden;
    width: 60%;
    height: auto;
}

.restaurants-image {
    width: 100%;
}

.restaurants-image:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.restaurants-text-container {
    width: 36%;
	padding-right: 20px;
    padding-left: 20px;
}

.title-dish {
	margin-top: 20px;
    margin-bottom: 20px;
	color: #f46465;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.text-left {
    float: left;
}

.text-right {
    float: right;
}

.image-left {
    float: left;
}

.image-right {
    float: right;
}

.btn-recipe {
	width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
	background-color: #d08a00;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
}

@media screen and (max-width:3000px) {
    .wrap-recipes {
        font-size: 2.3em;
    }
    .main-news-image {
        height: 450px;
    }
}

@media screen and (max-width:2600px) {
    .wrap-recipes {
        font-size: 2em;
    }
    .main-news-image {
        height: 400px;
    }
}

@media screen and (max-width:2000px) {
    .wrap-recipes {
        font-size: 1.4em;
    }
    .column-main-news {
        height: 450px;
    }
    .main-news-image {
        height: 350px;
    }
}

@media screen and (max-width:1700px) {
    .wrap-recipes {
        font-size: 1.3em;
    }
    .column-main-news {
        height: 400px;
    }
    .main-news-image {
        height: 300px;
    }
}

@media screen and (max-width:1600px) {
    .wrap-recipes {
        font-size: 1em;
    }
    .column-main-news {
        height: 350px;
    }
    .main-news-image {
        height: 250px;
    }
}

@media screen and (max-width:1366px) {
    .main-news-image {
        height: 200px;
    }
}

@media screen and (max-width:1250px) {
    .restaurants-text-container {
		padding-right: 0px;
		padding-left: 0px;
        font-size: 0.9em;
    }
    .column-main-news {
        display: inline;
		overflow: hidden;
        width: 100%;
		padding-top: 10px;
		padding-right: 0px;
		padding-bottom: 10px;
		padding-left: 0px;
        font-size: 1em;
        text-align: center;   
    }
    .main-news-image {
		float: left;
        width: 50%;
        height: auto;
        margin-right: 10px;
    }
    .main-news-horizontal-line {
		float: right;
		width: 48%;
        border-top: 3px dotted black; 
		margin-top: 10px;		
		margin-right: 0px;
		margin-bottom: 10px;
        margin-left: 0px;
    }
}

@media screen and (max-width:1050px) {
    .container {
        display: block;
        margin-top: 50px;
    }
    .restaurantsl-image-container {
		overflow: hidden;
        width: 100%;
        height: auto;
    }
    .restaurants-text-container {
        width: 100%;
		padding-right: 0px;
        padding-left: 0px;
		font-size: 1em;
    }
    .btn-recipe {
		width: 100%;
		background-color: #d08a00;
        color: #fff;
        text-align: center;
    }
}

@media screen and (max-width:760px) {
    main {
        width: 100%;
    }
    .column-main-news {
        padding-left: 0px;
    }
}

@media screen and (max-width:520px) {
    main {
        width: 100%;
        font-size: 0.9em;
    }
    .main-news-image {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .main-news-horizontal-line {
		float: none;
		width: 60%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 3px dotted black;
    }
    .column-main-news {
        height: 400px;
        margin-bottom: 0px;
    }
}